*{
  margin-left: 10px;
  margin-right: 10px;
  color:#636363 ;
}
body{
  background-color: #f4f5f9;

}

.container {
  display: flex;
  width: 100%;
 
  
}

.email-list {
  flex: 1;
}
.EmailBlock {
  display: flex;
  align-items: flex-start; 
  padding: 10px; 
  border: solid #CFD2DC 2px;
  border-radius: 5px;
  color: #636363;
  margin-top: 10px;
  cursor: pointer;
  width: 100%;
}
.EmailBlock:hover{
  border:solid #E54065 2px;
}

.emailbody{
  
  width: 40%;
}
.emailmain{
  width: 100%;
}

.circle {
  width: 40px; 
  height: 40px; 
  border-radius: 50%;
  background-color: #E54065; 
  color: white; 
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px; 
  font-size: 20px; 
}

.EmailDetail {
  display: flex; 
  flex-direction: column; 
}
.EmailDetail p {
  margin: 0; 
  line-height: 1.2; 
}



.email-detail {
  flex: 2;
  padding-left: 20px;
}
.Body{
  display: flex;
  background-color: #Ffff;
  border: solid #CFD2DC 2px ;
  padding: 1rem;
  overflow-y: auto;
  color: #636363;
  border-radius: 10px;
}
.BodyTitle{
  display: flex;
  flex-direction: row; 
}
h1{
  margin: 0;
}

.favbutton{
  padding: 0.5rem 1rem 0.5rem 1rem;
  background-color: #E54065; 
  color: white; 
  outline: none;
  border: none;
  border-radius:40px;
  cursor: pointer;
}
.filterBy{
  background-color: none;
  border: none;
}
.filterBy:hover{
  background-color: #d1d4df;
  border-radius: 10px;
  cursor: pointer;
}